# Contentful
CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_PREVIEW_ACCESS_TOKEN=
CONTENTFUL_ENVIRONMENT=master

# ISR webhook (optional)
REVALIDATE_SECRET=

# Public
NEXT_PUBLIC_PORTFOLIO_URL=
NEXT_PUBLIC_UMAMI_SCRIPT_URL=
NEXT_PUBLIC_UMAMI_WEBSITE_ID=
